<header
  class="fixed w-full z-50 bg-gradient-to-r from-blue-600 to-indigo-700 text-white shadow-lg dark:bg-gray-800 dark:text-gray-200"
>
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <div class="flex items-center space-x-4 cursor-pointer" href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <path d="M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3z" />
        <path d="M19 10v2a7 7 0 0 1-14 0v-2" />
        <line x1="12" y1="19" x2="12" y2="22" />
        <line x1="8" y1="22" x2="16" y2="22" />
      </svg>
      <h1 class="text-2xl font-bold tracking-wider max-md:hidden">
        AudioScript
      </h1>
    </div>

    <nav>
      <ul class="flex space-x-6 items-center">
        <li>
          <a
            href="/"
            class="hover:text-blue-200 transition-colors cursor-pointer"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/transcribe"
            class="hover:text-blue-200 transition-colors cursor-pointer"
            >Transcribe</a
          >
        </li>
        <li>
          <a
            href="/about"
            class="hover:text-blue-200 transition-colors cursor-pointer"
            >About</a
          >
        </li>
        <li>
          <button
            (click)="toggleDarkMode()"
            class="p-2 rounded-full hover:bg-blue-800 transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
              />
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
